<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>物件申請單修改</title>
<!-- <link th:href="@{/css/BackStage/rentapp/bootstrap/bootstrap.min.css}"rel="stylesheet" /> -->
<!-- <link th:href="@{/css/BackStage/rentapp/addRentApp.css}"rel="stylesheet" /> -->
<link rel="stylesheet" th:href="@{/css/FrontEnd/navForMemCenter/navForMemCenter.css}" />
<style>
	body {
	    font-family: Arial, sans-serif;
	    background-color: #f7f7f7;
	    margin: 0;

	}
	
	
	h3 b {
	    color: red;
	}
	
	label {
	    display: block;
	    margin-top: 10px;
	}
	
	input[type="text"],
	select,
	input[type="file"] {
	    width: 100%;
	    padding: 8px;
	    margin-top: 5px;
	    box-sizing: border-box;
	}
	
	
	button {
	    background-color: #5bc0de;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        margin-top: 10px;
	}
	
	button:hover {
	    background-color: #46b8da;
	}
	
	.error {
	    color: red;
	    display: block;
	    margin-top: 5px;
	    text-align: right;
	}
</style>
</head>
<body>
<div th:insert="~{/FrontEnd/navForMemCenter/navForMemCenter :: nav}"></div>
<main>
<h1 style="text-align: center;
   			 font-size: 2em !important;
			 border-radius: 10px;
			 width:80%;
             color: #fff; /* 字體顏色 */
             background-color: #5bc0de; /* 背景顏色 */
             padding: 20px; /* 內邊距 */
             margin: 0px auto; /* 邊距 */
             margin-bottom: 20px;
             margin-top: 20px;
             box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9); /* 底部陰影效果 */">物件申請單修改</h1>
	<div style="text-align: center; margin: 20px auto; max-width: 600px;">
		<h3><b>所有欄位皆為必填欄位</b></h3>
		<form th:action="@{update}" method="post" th:object="${rentApp}" enctype="multipart/form-data">
		
			<div>
			<label>物件申請單編號:</label>
			<input type="text" th:field="*{rentAppNo}" style="border:0px ; font-weight: bold; background-color: #f7f7f7;" readonly /><br/>
			</div>
			<div>
			<th:block th:if="${rentApp.rent}">
				<label>物件編號:</label>
				<input type="text" th:field="*{rent.rentNo}" style="border:0px ; font-weight: bold; background-color: #f7f7f7;" readonly /><br/>
			</th:block>
			</div>
			
			<div class="dropdown">
				<label>縣市:</label> 
				<select name="county" id="county_box" th:field="*{rentAppCou}">					
					<option th:value="*{rentAppCou}"th:text="*{rentAppCou} "style="display:none;"/>				
				</select> 
				<span th:if="${#fields.hasErrors('rentAppCou')}" th:errors="*{rentAppCou}" class="error" id="rentAppCou.errors"></span>
			</div>
			
			<div class="dropdown">
				<label>鄉鎮市區:</label> 
				<select name="district" id="district_box" th:field="*{rentAppAr}">					
					<option th:value="*{rentAppAr}"th:text="*{rentAppAr} "style="display:none;"/>					
				</select> 
				<span th:if="${#fields.hasErrors('rentAppAr')}" th:errors="*{rentAppAr}" class="error" id="rentAppAr.errors"></span>
			</div>
			
			<div>
				<label>路街:</label> <input type="text" th:field="*{rentAppRo}"
					onclick="hideContent('rentAppRo.errors');" /><br /> <span
					th:if="${#fields.hasErrors('rentAppRo')}" th:errors="*{rentAppRo}"
					class="error" id="rentAppRo.errors"></span>
			</div>

			<div>
				<label>詳細地址:</label> <input type="text" th:field="*{rentAppAdd}"
					onclick="hideContent('rentAppAdd.errors');" /><br /> <span
					th:if="${#fields.hasErrors('rentAppAdd')}"
					th:errors="*{rentAppAdd}" class="error" id="rentAppAdd.errors"></span>
			</div>
			
			<div>
				<label>所有權狀:</label>
				<input type="file" th:field="*{rentAppOwn}" onclick="previewImage()" onchange="hideContent('rentAppOwn.errors');" />
				<!-- 			<span  th:if="${#fields.hasErrors('upFiles')}" th:errors="*{upFiles}" class="error" id="upFiles.errors"></span> -->
				<span class="error" th:utext="${errorMessage}" id="rentAppOwn.errors">${errorMessage}</span>
				<!-- 			<h2 id="errorMessage">${errorMessage}</h2>  -->
				<div id="blob_holder"><img th:src="@{/rentApp/picture} + '?rentAppNo=' + ${rentApp.rentAppNo}" width="200px" ></div>
			</div>
			
			
			<div>
				<label>樓層:</label> <input type="text" th:field="*{rentAppFloor}"
					onclick="hideContent('rentAppFloor.errors');" /><br /> <span
					th:if="${#fields.hasErrors('rentAppFloor')}"
					th:errors="*{rentAppFloor}" class="error" id="rentAppFloor.errors"></span>
			</div>

			<div>
				<label>坪數:</label> <input type="text" th:field="*{rentAppSize}"
					onclick="hideContent('rentAppSize.errors');" /><br /> <span
					th:if="${#fields.hasErrors('rentAppSize')}"
					th:errors="*{rentAppSize}" class="error" id="rentAppSize.errors"></span>
			</div>

			<div>
				<div></div>
				<div><button type="submit" id="submit"style="background-color: #5bc0de; /* 藍色背景顏色 */
                                                        color: #fff; /* 白色文字顏色 */
                                                        border: none; /* 去掉邊框 */
                                                        padding: 10px 10px; /* 內邊距 */
                                                        cursor: pointer; /* 鼠標懸停效果 */
                                                        border-radius: 10px;
                                                        font-weight: bold;
                                                        font-size: 14px;
                                                        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);" 
                                                        onmouseover="this.style.color='red'; this.style.backgroundColor='yellow'" 
                			  							onmouseout="this.style.color='white'; this.style.backgroundColor='#5bc0de'"> 送出修改 </button></div>
				<div></div>
			</div>		
		</form>
	
	</div>

</main>
<!-- JavaScript part -->
<script th:src="@{/js/BackStage/rentapp/update_rentApp_input.js}"></script>
<!-- <script th:src="@{/js/BackStage/rentapp/addRentApp.js}"></script> -->
</body>
</html>