<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/BackStage/mem/try.css}" />
    <link rel="stylesheet" th:href="@{/css/BackStage/mem/try2.css}" />
    <title>房東申請單一覽</title>
    <style>
        h1 {
           text-align: center;
           color: red;
        }
    </style>
   </head>
   <body>
       <h1>房東申請單一覽</h1>
       <table id="example" class="display" style="width: 100%">
           <thead>
               <tr>
                   <th>NO.</th>
                   <th>會員編號</th>
                   <th>員工編號</th>
                   <th>申請日期</th>
                   <th>身分證圖片</th>
                   <th>付款狀態</th>
                   <th>進度/結案</th>
                   <th>修改</th>
               </tr>
           </thead>
           <tbody>
           <th:block th:each="lddApp : ${lddAppListData}">
               <tr>
                   <td th:text="${lddApp.lddAppNo}"></td>
                   <td th:text="${lddApp.mem.memNo}"></td>
                   <td th:text="${lddApp.emp?.empNo}"></td>
                   <td th:text="${lddApp.lddAppCreate}"></td>
                   <td ><img th:src="@{/BackStage/lddApp/picture} + '?lddAppNo=' + ${lddApp.lddAppNo}" width="150px"></td>
                   <td>
                    <span th:if="${lddApp.lddAppPayStatus == 0}" th:text="未付款"></span> 
                    <span th:if="${lddApp.lddAppPayStatus == 1}" th:text="已付款"></span> 
                    <span th:if="${lddApp.lddAppPayStatus == 2}" th:text="無用狀態待修正"></span>
                   </td>
                   <td>
                    <span th:if="${lddApp.lddAppStatus == 0}" th:text="待審核"></span> 
                    <span th:if="${lddApp.lddAppStatus == 1}" th:text="未通過"></span> 
                    <span th:if="${lddApp.lddAppStatus == 2}" th:text="通過"></span> 
                   </td>
                   <td>
                       <form method="post" th:action="@{updateLddApp}">
                           <input type="hidden" name= "lddAppNo" th:value="${lddApp.lddAppNo}">
                           <input type="submit" value="修改" >
                       </form>
                   </td>
               </tr>
           
           </th:block>
   
           </tbody>

       </table>
       <br>
       <a th:href="@{/BackStage/lddApp}"><button>前往首頁</button></a>
       
       <script th:src="@{/jquery/jquery-3.7.1.min.js}"></script>
         <script th:src="@{/js/BackStage/mem/the.js}"></script>
         <script th:src="@{/js/BackStage/mem/the2.js}"></script>
         <script>
           let table = new DataTable("#example");
           console.log($(".test"));
       // table.on("click", "tbody tr", function () {
       //   let data = table.row(this).data();
   
       //   alert("You clicked on " + data[3] + "'s row");
       // });
         </script>
   </body>
   </html>