<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>listOneLddApp</title>
    <style type="text/css">
        span {
            display: inline-block;
            width: 150px;
            text-align: left;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div align="center">
        <h3><a th:href="@{/BackStage/lddApp}"><button>前往首頁</button></a></h3>
    </div>
    </nav>

    <div align="center" th:object="${lddApp}">
        <h3><span>查詢結果 :</span></h3>
        <span>NO.:</span>
        <span th:text="${lddApp.lddAppNo}"></span><br>
        
        <span>會員編號:</span>
        <span th:text="${lddApp.mem.memNo}"></span><br>

        <span>審核員工:</span>
        <span th:text="${lddApp.emp?.empNo}"></span><br>

        <span>申請日期:</span>
        <span th:text="${lddApp.lddAppCreate}"></span><br>

        <span>身分證照片:</span>
        <img th:src="@{/BackStage/lddApp/picture} + '?lddAppNo=' + ${lddApp.lddAppNo}" width="150px"><br>
        
        <span>付款狀態:</span>
        <span th:if="${lddApp.lddAppPayStatus == 0}" th:text="未付款"></span><br>
        <span th:if="${lddApp.lddAppPayStatus == 1}" th:text="已付款"></span><br>
        <span th:if="${lddApp.lddAppPayStatus == 2}" th:text="無用狀態待修正"></span><br>

        <span>申請單狀態:</span>
        <span th:if="${lddApp.lddAppStatus == 0}" th:text="待審核"></span><br>
        <span th:if="${lddApp.lddAppStatus == 1}" th:text="未通過"></span><br>
        <span th:if="${lddApp.lddAppStatus == 2}" th:text="通過"></span><br>
    </div>


</body>

</html>