<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<!--     <link rel="stylesheet" th:href="@{/css/public/tableModel/try.css}" /> -->
    <link rel="stylesheet" th:href="@{/css/public/tableModel/try2.css}" />
    <link rel="stylesheet" th:href="@{/css/public/tableModel/customBackStage.css}" />
    <link rel="stylesheet" th:href="@{/css/public/elementModel/elementStyles.css}" />
	<link th:href="@{/css/BackStage/indexCSS/styles.css}" rel="stylesheet" />
	
	<link th:href="@{/css/BackStage/indexCSS/index.css}" rel="stylesheet" />
    <title>審核房東</title>
    <style>

        input {
			vertical-align: middle;
		}
		
		.tittleBoard {
			text-align: center;
			width: 70%;
			padding: 0px 50px;
			border-radius: 8px;
			margin: 15px auto;
		}
		
		.tittleBoard span {
			font-size: 40px;
			font-weight: bold;
			color: white;
			border: none;
			background-color: #3498db;
			padding: 20px;
			border-radius: 8px;
			box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9);
			display: inline-block;
			margin: 0px auto;
			margin-bottom: 20px;
		}
		
		
		.lightbox {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.7);
            justify-content: center;
            align-items: center;
            z-index: 999999;
        }

        .lightbox img {
            max-width: 90%;
            max-height: 90%;
        }
        
        .lddAppImage{
        	cursor: zoom-in;
        }
        
        .disabled-button {
		    color: #7f8c8d;
		    background-color: #dcdcdc; 
		    cursor: not-allowed;
		}
		
		.disabled-button:hover {
			color: #7f8c8d;
		    background-color: #dcdcdc; 
		    cursor: not-allowed;
		}
		
		.approve_button,
		.reject_button {
			margin-right: 20px;
		}
        
        main{
        	padding: 20px 20px;
        }
        
    </style>
    
   </head>
   <body>
	<div th:replace="BackStage/HTMLTool/nav :: nav"></div>
	
		
    	<main>
	       <h1 style="text-align: center;
			 font-size: 2em !important;
			 border-radius: 10px;
			 width:80%;
             color: #fff; /* 字體顏色 */
             background-color: #5bc0de; /* 背景顏色 */
             padding: 20px; /* 內邊距 */
             margin: 0px auto; /* 邊距 */
             margin-bottom: 20px;
             box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9); /* 底部陰影效果 */">
             房東審核</h1>
	       
	       <div class="lightbox" id="lightbox">
	    		<img src="" alt="放大顯示的圖片" id="lightbox-img">
		   </div>
	       
	       <table id="example" class="display" style="width: 100%">
	           <thead>
	               <tr>
	                   <th>編號</th>
	                   <th>會員名稱</th>
	                   <th>會員電話</th>
	                   <th>申請日期</th>
	                   <th>身分證圖片</th>
	                   <th>付款狀態</th>
	                   <th>審核員工</th>
	                   <th>進度</th>
	                   <th>修改編輯</th>
	               </tr>
	           </thead>
	           <tbody>
	           <th:block th:each="lddApp : ${lddAppListData}">
	               <tr>
	                   <td th:text="${lddApp.lddAppNo}"></td>
	                   <td th:text="${lddApp.mem.memNo + '_' + lddApp.mem.memName}"></td>
	                   <td th:text="${lddApp.mem.memPhone}"></td>
	                   <td th:text="${lddApp.lddAppCreate}"></td>
	                   <td>
							<img class="lddAppImage" th:src="@{/BackStage/lddApp/picture} + '?lddAppNo=' + ${lddApp.lddAppNo}" width="150px">
		        	   </td>
	                   <td th:switch="${lddApp.lddAppPayStatus}">
			                <span th:case="0" class="cancel" th:text="未付款"></span>
		                    <span th:case="1" class="success" th:text="付款完成"></span>
		                    <span th:case="2" class="warning" th:text="無用狀態待修正"></span> 
	                   </td>               				
	                   <td th:text="${lddApp.emp?.empNo}"></td>
	                   <td th:switch="${lddApp.lddAppStatus}">
		                   	<span th:case="0" class="warning" th:text="待審核"></span>
		                   	<span th:case="1" class="cancel" th:text="未通過"></span>
		                   	<span th:case="2" class="success" th:text="通過"></span>
	                   </td>
	                   <td>
							<form th:if="${lddApp.lddAppPayStatus == 1}" method="post" th:action="@{approve}" onsubmit="return showConfirmation(this)">
                                <input type="hidden" name="lddAppNo" th:value="${lddApp.lddAppNo}">
                                <input type="submit" value="審核通過" class="approve_button" 
                                	th:disabled="${lddApp.lddAppStatus != 0}" 
			               			th:classappend="${lddApp.lddAppStatus != 0} ? 'disabled-button' : ''" >
                            </form>

							<form method="post" th:action="@{reject}" onsubmit="return showConfirmation(this)">
                                <input type="hidden" name="lddAppNo" th:value="${lddApp.lddAppNo}">
                                <input type="submit" value="不通過" class="reject_button"
                                	th:disabled="${lddApp.lddAppStatus != 0}" 
			               			th:classappend="${lddApp.lddAppStatus != 0} ? 'disabled-button' : ''" >
                            </form>
	                   </td>
	               </tr>
	           
	           </th:block>
	   
	           </tbody>
	
	       </table>
	       
       </main>
       	
       	 <script th:src="@{/jquery/jquery-3.7.1.min.js}"></script>
         <script th:src="@{/js/public/tableModel/the.js}"></script>
         <script th:src="@{/js/public/tableModel/the2.js}"></script>
 		
         <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		 <script th:src="@{/js/public/sweetAlert2/basic.js}"></script>
		 
         
         
         <script>
         new DataTable('#example', {
         	"stateSave": true,
             initComplete: function () {
             	var table = this.api();

                 var currentStateSaveValue = table.settings()[0].oFeatures.bStateSave;
     			//指定一個欄位新增select，從0開始算
//                  table.columns(7).every( function () {
//                          let column = this;

//                          let select = document.createElement('select');
//                          select.add(new Option(''));
//                          column.header().append(select);

//                          select.addEventListener('change', function () {
//                              var val = DataTable.util.escapeRegex(select.value);

//                              column
//                                  .search(val ? '^' + val + '$' : '', true, false)
//                                  .draw();
//                          });
//                          select.addEventListener('click', function (e) {
//                          	e.stopPropagation();
//                          });

//                          column.data().unique().sort().each( function ( d, j ) {

//                              if(column.search() === '^' + d + '$'){
//                              	console.log("OK")
//                              	var newOption = document.createElement("option");
//      						    newOption.text = d;
//      						    newOption.value = d;
//      						    newOption.selected="selected"
//                                  select.append(newOption);

//                              } else {
//                              	select.add(new Option(d));
//                              }

//                          } );
//                      });

             }
         });

     	// 前幾欄加上input
     	$('#example thead th:lt(4)').each(function() {
     		
     	    var title = $('#example thead th').eq($(this).index()).text();

     	    $(this).html(title+'<input type="text" placeholder="請輸入..." />');

     	});

     	var table = $('#example').DataTable();
     	 
     	// 前幾欄加上input的search
     	table.columns(':lt(4)').eq(0).each(function(colIdx) {
     		var searchval=table.column(colIdx).search(this.value)
     		if(searchval!==""){
     			console.log(searchval)
     			$('#example thead th').eq(colIdx).find('input').val(searchval);
     	    }
     		
     		
     	    $('input', table.column(colIdx).header()).on('keyup', function() {
     	    	table
     	            .column(colIdx)
     	            .search(this.value)
     	            .draw();	    	
     	    });
     	 
     	    $('input', table.column(colIdx).header()).on('click', function(e) {
     	        e.stopPropagation();
     	    });
     	});
         </script>
         <script>
	         var images = document.querySelectorAll(".lddAppImage");
	         var lightbox = document.getElementById("lightbox");
	         var lightboxImg = document.getElementById("lightbox-img");
	         
	         images.forEach(function (img) {
	             
	             img.onclick = function () {
	                 lightbox.style.display = 'flex'; 
	                 lightboxImg.src = this.src; 
	             };
	         });
	        
	         lightbox.onclick = function () {
	             lightbox.style.display = 'none'; 
	         };
         </script>
         
    
   </body>
   </html>