<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <title>Insert title here</title>
</head>
<body>
	<form method="post" th:action="@{noticeupdate}" th:object="${data}" enctype="multipart/form-data">
   		<table>
			<tr>
				<td><label for="noticeNo">最新公告編號</label></td>
				<td><input id="noticeNo" title="最新公告編號" th:field="*{noticeNo}" readonly></td>
				<td><span  th:if="${#fields.hasErrors('noticeNo')}" th:errors="*{noticeNo}" class="error" id="ename.errors"></span></td>
			</tr>
        	<tr>
				<td><label for="empNo">員工編號<b>*</b>：</label></td>
				<td><input type="empNo" id="empNo" th:field="*{empNo}" title="請輸入編號"></td>
				<td><span  th:if="${#fields.hasErrors('empNo')}" th:errors="*{empNo}" class="error" id="ename.errors"></span></td>
			</tr>
    		<tr>
    			<td><label for="noticeTime">最新公告時間</label></td>
    			<td><input id="noticeTime" title="最新公告時間" th:field="*{noticeTime}" ></td>
       			<td><span  th:if="${#fields.hasErrors('noticeTime')}" th:errors="*{noticeTime}" class="error" id="ename.errors"></span></td>
			</tr>
				<tr>
    			<td><label for="noticeContent">最新公告內容</label></td>
    			<td><input id="noticeContent" title="最新公告內容" th:field="*{noticeContent}" ></td>
       			<td><span  th:if="${#fields.hasErrors('noticeContent')}" th:errors="*{noticeContent}" class="error" id="ename.errors"></span></td>
			</tr>
				<tr>
    			<td><label for="noticeStatus">最新公告狀態</label></td>
    			<td><input id="noticeStatus" title="最新公告狀態" th:field="*{noticeStatus}" ></td>
       			<td><span  th:if="${#fields.hasErrors('noticeStatus')}" th:errors="*{noticeStatus}" class="error" id="ename.errors"></span></td>
			</tr>
       </table>
    	<input type="hidden" th:field="*{noticeNo}">
		<input type="hidden" th:field="*{empNo}">
		<input type="hidden" th:field="*{noticeTime}">
		<input type="hidden" th:field="*{noticeContent}">
		<input type="hidden" th:field="*{noticeStatus}">
		<input type="submit" class="submit" value="修改資料">
   </form>
   
</body>
</html>
