<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/public/jquery-ui/1.13.2/jquery-ui.css}" />
	<style type="text/css">
		body {
			box-sizing: border-box;
			padding: 10px; 
		} 
		
		h1 {
			width: 50%;
			display: inline-block;
			margin: 0px; 
		} 
		
		.op {
			opacity: 0.2;
		}

		div.conditional {
			display: flex;
			align-items: flex-start;
		} 

		div>div {
			padding: 5px;
			text-align: center;
		}
		
 		div.conditional>label { 
			padding-left: 5px;
			padding-right: 5px;
 		}  
 		
 		.toggler {
            width: 500px;
            height: 200px;
        }

        #button {
            padding: .5em 1em;
            text-decoration: none;
        }

        #effect {
            position: relative;
            width: 100%;
            height: 100%;
            padding: 0.4em;
        }

        #effect h3 {
            margin: 0;
            padding: 0.4em;
            text-align: center;
        }
	</style>
	<title th:text="${rent.rentPostTitle}"></title>
</head>

<body>
<!-- 	<label>物件圖片：</label> -->
	<div>
		<span th:text="${rent.rentAppCou}"></span>
		<label> / </label>
		<span th:text="${rent.rentAppAr}"></span>
		<label> / </label>
		<span th:text="${rent.rentAppRo}"></span>	
	</div>
	<br>
	<div class="conditional">
		<img th:src="@{/rent/picture} + '?rentNo=' + ${rent.rentNo}" width="550px" height="360px">
		<div>
			<button id="button" class="ui-state-default ui-corner-all">介紹</button>
			<button id="button" class="ui-state-default ui-corner-all">設備</button>
			<button id="button" class="ui-state-default ui-corner-all">詳細資料</button>
			<br>
			<div class="toggler">
		        <div id="effect" class="ui-widget-content ui-corner-all">
		            <h3 class="ui-widget-header ui-corner-all">介紹</h3>
					<br>
					<p th:text="${rent.rentIntr}"></p>
		        </div>
			</div>			
		</div>
	</div>
	<br>
<!-- 	<br> -->
<!-- 	<label>刊登標題：</label> -->
	<h1 th:text="${rent.rentPostTitle}"></h1>
	<label>最後編輯時間：</label>
	<span th:if="${rent.rentUpTime != null}" th:text="${#dates.format(rent.rentUpTime, 'yyyy/MM/dd HH:mm:ss')}"></span>
	<br>
	<label>租金：</label>
	<h1 th:text="${rent.rentRent}"></h1>
	<br>

	<div class="conditional">
		<div>
			<img th:if="${rent.rentRefrigerator == 0}" src="/icon/FrontEnd/rentDetail/refrigerator.png" width="50px"
				height="50px" class="op">
			<img th:if="${rent.rentRefrigerator == 1}" src="/icon/FrontEnd/rentDetail/refrigerator.png" width="50px"
				height="50px">
			<br>
			<label>冰箱</label>
		</div>

		<div>
			<img th:if="${rent.rentAC == 0}" src="/icon/FrontEnd/rentDetail/ac.png" width="50px" height="50px"
				class="op">
			<img th:if="${rent.rentAC == 1}" src="/icon/FrontEnd/rentDetail/ac.png" width="50px" height="50px">
			<br>
			<label>冷氣機</label>
		</div>

		<div>
			<img th:if="${rent.rentTV == 0}" src="/icon/FrontEnd/rentDetail/wide-tv.png" width="50px" height="50px"
				class="op">
			<img th:if="${rent.rentTV == 1}" src="/icon/FrontEnd/rentDetail/wide-tv.png" width="50px" height="50px">
			<br>
			<label>電視</label>
		</div>

		<div>
			<img th:if="${rent.rentWashMachine == 0}" src="/icon/FrontEnd/rentDetail/drying.png" width="50px"
				height="50px" class="op">
			<img th:if="${rent.rentWashMachine == 1}" src="/icon/FrontEnd/rentDetail/drying.png" width="50px"
				height="50px">
			<br>
			<label>洗衣機</label>
		</div>

		<div>
			<img th:if="${rent.rentHeater == 0}" src="/icon/FrontEnd/rentDetail/water-heater.png" width="50px"
				height="50px" class="op">
			<img th:if="${rent.rentHeater == 1}" src="/icon/FrontEnd/rentDetail/water-heater.png" width="50px"
				height="50px">
			<br>
			<label>熱水器</label>
		</div>

		<div>
			<img th:if="${rent.rentBed == 0}" src="/icon/FrontEnd/rentDetail/single-bed.png" width="50px" height="50px"
				class="op">
			<img th:if="${rent.rentBed == 1}" src="/icon/FrontEnd/rentDetail/single-bed.png" width="50px" height="50px">
			<br>
			<label>床</label>
		</div>

		<div>
			<img th:if="${rent.rentWardrobe == 0}" src="/icon/FrontEnd/rentDetail/closet.png" width="50px" height="50px"
				class="op">
			<img th:if="${rent.rentWardrobe == 1}" src="/icon/FrontEnd/rentDetail/closet.png" width="50px"
				height="50px">
			<br>
			<label>衣櫃</label>
		</div>

		<div>
			<img th:if="${rent.rentInternet == 0}" src="/icon/FrontEnd/rentDetail/internet.png" width="50px"
				height="50px" class="op">
			<img th:if="${rent.rentInternet == 1}" src="/icon/FrontEnd/rentDetail/internet.png" width="50px"
				height="50px">
			<br>
			<label>網路</label>
		</div>

		<div>
			<img th:if="${rent.rentCableTV == 0}" src="/icon/FrontEnd/rentDetail/wide-tv4.png" width="50px"
				height="50px" class="op">
			<img th:if="${rent.rentCableTV == 1}" src="/icon/FrontEnd/rentDetail/wide-tv4.png" width="50px"
				height="50px">
			<br>
			<label>第四台</label>
		</div>

		<div>
			<img th:if="${rent.rentSofa == 0}" src="/icon/FrontEnd/rentDetail/sofa.png" width="50px" height="50px"
				class="op">
			<img th:if="${rent.rentSofa == 1}" src="/icon/FrontEnd/rentDetail/sofa.png" width="50px" height="50px">
			<br>
			<label>沙發</label>
		</div>

		<div>
			<img th:if="${rent.rentBalcony == 0}" src="/icon/FrontEnd/rentDetail/balcony.png" width="50px" height="50px"
				class="op">
			<img th:if="${rent.rentBalcony == 1}" src="/icon/FrontEnd/rentDetail/balcony.png" width="50px"
				height="50px">
			<br>
			<label>陽台</label>
		</div>

		<div>
			<img th:if="${rent.rentElev == 0}" src="/icon/FrontEnd/rentDetail/elevator.png" width="50px" height="50px"
				class="op">
			<img th:if="${rent.rentElev == 1}" src="/icon/FrontEnd/rentDetail/elevator.png" width="50px" height="50px">
			<br>
			<label>電梯</label>
		</div>

		<div>
			<img th:if="${rent.rentParking == 0}" src="/icon/FrontEnd/rentDetail/garage.png" width="50px" height="50px"
				class="op">
			<img th:if="${rent.rentParking == 1}" src="/icon/FrontEnd/rentDetail/garage.png" width="50px" height="50px">
			<br>
			<label>車位</label>
		</div>

		<div>
			<img th:if="${rent.rentWaterBill == 0}" src="/icon/FrontEnd/rentDetail/drop.png" width="50px" height="50px"
				class="op">
			<img th:if="${rent.rentWaterBill == 1}" src="/icon/FrontEnd/rentDetail/drop.png" width="50px" height="50px">
			<br>
			<label>台水</label>
		</div>

		<div>
			<img th:if="${rent.rentElectricityBill == 0}" src="/icon/FrontEnd/rentDetail/power.png" width="50px"
				height="50px" class="op">
			<img th:if="${rent.rentElectricityBill == 1}" src="/icon/FrontEnd/rentDetail/power.png" width="50px"
				height="50px">
			<br>
			<label>台電</label>
		</div>
	</div>
	<br>

	<br>
	<label>格局：</label>
	<span th:if="${rent.rentLayout == 0}" th:text="雅房"></span>
	<span th:if="${rent.rentLayout == 1}" th:text="分租套房"></span>
	<span th:if="${rent.rentLayout == 2}" th:text="獨立套房"></span>
	<span th:if="${rent.rentLayout == 3}" th:text="整層住家"></span>
	<br>

	<label>縣市：</label>
	<span th:text="${rent.rentAppCou}"></span>
	<br>
	<label>區：</label>
	<span th:text="${rent.rentAppAr}"></span>
	<br>
	<label>路街：</label>
	<span th:text="${rent.rentAppRo}"></span>
	<br>
	<label>詳細地址：</label>
	<span th:text="${rent.rentAppAdd}"></span>
	<br>
	<label>樓層：</label>
	<span th:text="${rent.rentAppFloor}"></span>
	<br>
	<label>坪數：</label>
	<span th:text="${rent.rentAppSize}"></span>
	<br>
	<label>緯度：</label>
	<span th:text="${rent.rentLat}"></span>
	<br>
	<label>經度：</label>
	<span th:text="${rent.rentLon}"></span>
	<br>

	<script th:src="@{/jquery/jquery-3.7.1.min.js}"></script>
	<script th:src="@{/js/public/jquery-ui/jquery-ui-1.13.2/jquery-ur.js}"></script>
	<script>
		$(".op").closest("div").children("label").css("text-decoration", "line-through");
	</script>
	<script>
        $(function () {
            // run the currently selected effect
            function runEffect() {
                // get effect type from
                var selectedEffect = $("#effectTypes").val();

                // Most effect types need no options passed by default
                var options = {};
                // some effects have required parameters
                if (selectedEffect === "scale") {
                    options = { percent: 50 };
                } else if (selectedEffect === "size") {
                    options = { to: { width: 200, height: 60 } };
                }

                // Run the effect
                $("#effect").toggle("fade", options, 500);
            };

            // Set effect from select menu value
            $("#button").on("click", function () {
                runEffect();
            });
        });
    </script>

</body>

</html>