<!DOCTYPE html>
<!---Coding By CodingLab | www.codinglabweb.com--->
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!--<title>Registration Form in HTML CSS</title>-->
    <!---Custom CSS File--->
    <link rel="stylesheet" th:href="@{/css/FrontEnd/mem/register.css}" />
</head>

<body>
    <section class="container">
        <header>註冊</header>
        <form class="form" method="post" th:action="@{memadd}" th:object="${mem}" enctype="multipart/form-data">
            <div class="input-box">
                <label>姓名：</label>
                <input type="text" placeholder="請輸入姓名" th:field="*{memName}" />
                <span th:if="${#fields.hasErrors('memName')}" th:errors="*{memName}"></span>
            </div>

            <div class="input-box">
                <label>信箱：</label>
                <input type="text" placeholder="請輸入信箱帳號" th:field="*{memMail}" />
                <span  th:if="${#fields.hasErrors('memMail')}" th:errors="*{memMail}" class="error" id="ename.errors"></span>
            </div>

            <div class="input-box">
                <label>密碼：</label>
                <input type="password" placeholder="請輸入密碼" th:field="*{memPsw}"/>
                <span  th:if="${#fields.hasErrors('memPsw')}" th:errors="*{memPsw}" class="error" id="ename.errors"></span>
            </div>


            <div class="column">
                <div class="input-box">
                    <label>手機號碼：</label>
                    <input type="number" placeholder="請輸入手機號碼" th:field= "*{memPhone}" />
                    <span th:if="${#fields.hasErrors('memPhone')}" th:errors="*{memPhone}"></span>
                </div>
                <div class="input-box">
                    <label>身分證號嗎：</label>
                    <input type="text" placeholder="請輸入身分證號碼" th:field= "*{memID}" />
                    <span th:if="${#fields.hasErrors('memID')}" th:errors="*{memID}"></span>
                </div>
            </div>
            <div class="gender-box">
                <h3>性別：</h3>
                <div class="gender-option">
                    <div class="gender">
                        <input type="radio" id="check-male"  th:field="*{memSex}" th:value="0"/>
                        <label for="check-male">男性</label>
                    </div>
                    <div class="gender">
                        <input type="radio" id="check-female"  th:field="*{memSex}" th:value="1"/>
                        <label for="check-female">女性</label>
                    </div>
                </div>
            </div>
            <span th:if="${#fields.hasErrors('memSex')}" th:errors="*{memSex}"></span>
            <div class="input-box address">
                <label>地址：</label>
                <input type="text" placeholder="Enter street address" required />
                <div class="column">
                    <div class="select-box">
                        <select>
                            <option hidden>Country</option>
                            <option>America</option>
                            <option>Japan</option>
                            <option>India</option>
                            <option>Nepal</option>
                        </select>
                    </div>
                    <input type="text" placeholder="Enter your city" required />
                </div>
                <div class="column">
                    <input type="text" placeholder="Enter your region" required />
                    <input type="number" placeholder="Enter postal code" required />
                </div>
            </div>
            <button>Submit</button>
        </form>
    </section>
    
    <script th:src="@{/js/FrontEnd/mem/register.js}"></script>
</body>

</html>