<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 租你好運忘記密碼 </title>

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/FrontEnd/mem/login.css}">
	<style type="text/css">
		.error {
			color: red;
			font-style: italic;
		}
	</style>
    <!-- Boxicons CSS -->
    <!-- <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'> -->

</head>

<body>
    <section class="container forms">
        <div class="form login">
            <div class="form-content">
                <header>忘記密碼</header>

                <form th:action="@{varify}" method="get">
                
                    <div class="field input-field">
                        <input type="email" placeholder="請輸入信箱" class="input" name="forgetPsw">
                    </div>
                    <br>
                    
                	<div>
                		 <span th:text="*{failMessage}" class="error" id="ename.errors"></span>
                	</div>

                    <div class="field button-field">
                        <input type="submit" class="submit" value="確認">
                    </div>
                    
                </form>
                    <div class="field button-field">
                    	<a th:href="@{login}"><button>取消</button></a>
                    </div>

            </div>


        </div>

    </section>

</body>

</html>