<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/public/elementModel/elementStyles.css}" />
	<link rel="stylesheet" th:href="@{/css/FrontEnd/navForMemCenter/navForMemCenter.css}" />
	<title>成為房東</title>
	
	<style>
	
    .formEl {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f5f5f5;
        cursor: pointer;
    }
	</style>
</head>

<body>
	<div th:insert="~{/FrontEnd/navForMemCenter/navForMemCenter :: nav}"></div>
	<main>
		<div align="center" th:fragment="addLddApp-div">
			<h1>成為房東</h1>
			<form method="post" th:action="@{insert}" th:object="${lddApp}" enctype="multipart/form-data">

				<label class="formEl" for="lddAppIDPic">身分證照片 <b>*</b>：</label>
				<input class="formEl" type="file" th:field="*{lddAppIDPic}" required>
				<br>
				<br>
				<input type="submit" class="approve_button" value="送出">
			</form>
		</div>
	</main>
</body>

</html>