<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>房東審核</title>
	<style>
		* {
			box-sizing: border-box;
		}
	</style>
</head>

<body>
	<h1>這是房東審核頁面</h1>
	<div>
		<form method="post" th:action="@{update}" th:object="${lddApp}" enctype="multipart/form-data">
			<div>
				<label for="lddAppNo">房東申請單編號:</label>
				<input type="text" th:field="*{lddAppNo}" style="border:0px ; font-weight: bold;" readonly /><br/>
			</div>

			<div>
				<label for="memNo">會員編號:</label>
				<input type="text" th:field="*{mem.memNo}" style="border:0px ; font-weight: bold;" readonly /><br/>
			</div>

			<div>
				<label for="empNo">審核員工:</label>
				<!-- 待新增empSvc -->
				<!-- <select th:field="*{emp?.empNo}">
					<option th:each="emp : ${empList}" th:value="${emp.empNo}" th:text="${emp.empName}" />
				</select> -->
			</div>

			<div>
				<label for="lddAppCreate">申請日期:</label>
				<input type="text" th:field="*{lddAppCreate}" style="border:0px ; font-weight: bold;" readonly /><br/>
			</div>

			<div>
				<label for="lddAppIDPic">身分證照片：</label>
				<input type="file" th:field="*{lddAppIDPic}" style="border:0px ; font-weight: bold;" readonly /><br/>
			</div>
			<div>
				<img th:src="@{/BackStage/lddApp/picture} + '?lddAppNo=' + ${lddApp.lddAppNo}" width="150px">
			</div>

			<div>
				<label for="lddAppPayStatus">付款狀態:</label>
				<select th:field="*{lddAppPayStatus}">
					<option value="0" th:text="未付款"></option>
					<option value="1" th:text="已付款"></option>
				</select>
			</div>

			<div>
				<label for="lddAppStatus">申請進度:</label>
				<select th:field="*{lddAppStatus}">
					<option value="0" th:text="待審核"></option>
					<option value="1" th:text="未通過"></option>
					<option value="2" th:text="通過"></option>
				</select>
			</div>


			<input type="submit" class="submit" value="修改資料">
		</form>
	</div>

</body>

</html>