<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel="stylesheet" th:href="@{/css/public/elementModel/elementStyles.css}" />
    <link rel="stylesheet" th:href="@{/css/FrontEnd/navForMemCenter/navForMemCenter.css}" />
	<title>修改房東申請單</title>
	<style>

	</style>
</head>

<body>
	<div th:insert="~{/FrontEnd/navForMemCenter/navForMemCenter :: nav}"></div>
    <main>
		<h1>修改房東申請單</h1>
		<div>
			<form method="post" th:action="@{update}" th:object="${lddApp}" enctype="multipart/form-data">
					<label for="lddAppNo">房東申請單編號:</label>
					<input type="text" th:field="*{lddAppNo}" style="border:0px ; font-weight: bold;" readonly /><br/>
			
	
		
					<label for="memNo">會員編號:</label>
					<input type="text" th:field="*{mem.memNo}" style="border:0px ; font-weight: bold;" readonly /><br/>
			
	
		
					<label for="empNo">審核員工:</label>
					<!-- 待新增empSvc -->
					<!-- <select th:field="*{emp?.empNo}">
						<option th:each="emp : ${empList}" th:value="${emp.empNo}" th:text="${emp.empName}" />
					</select> -->
			
	
		
					<label for="lddAppCreate">申請日期:</label>
					<input type="text" th:field="*{lddAppCreate}" style="border:0px ; font-weight: bold;" readonly /><br/>
		
	
		
					<label for="lddAppIDPic">身分證照片：</label>
					<input type="file" th:field="*{lddAppIDPic}" style="border:0px ; font-weight: bold;" readonly /><br/>
	
				<div>
					<img th:src="@{/lddApp/picture} + '?lddAppNo=' + ${lddApp.lddAppNo}" width="150px">
				</div>
	

					<label for="lddAppPayStatus">付款狀態:</label>
					<select th:field="*{lddAppPayStatus}">
						<option value="0" th:text="未付款"></option>
						<option value="1" th:text="已付款"></option>
					</select>

	

					<label for="lddAppStatus">申請進度:</label>
					<select th:field="*{lddAppStatus}">
						<option value="0" th:text="待審核"></option>
						<option value="1" th:text="未通過"></option>
						<option value="2" th:text="通過"></option>
					</select>

	
			
				<input type="submit" class="submit" value="修改資料">
			</form>
		</div>
	</main>
</body>

</html>