<div class="container-fluid p-0" th:fragment="BackStageManage">
	<!-- 後台管理 -->
	<section class="resume-section" id="BackStageManage">
		<h1 class="mb-0">
			後台管理 <span class="text-primary">BackstageManagement</span>
		</h1>
		<div class="resume-section-content">
			<div class="subheading mb-5 subManage">
				<a th:href="@{/BackStage/myData}" class="subA">員工資料管理</a> 
				<a th:href="@{/BackStage/funManager/funlist}" class="subA">員工權限管理</a>
			</div>

			<p class="lead mb-5"></p>
		</div>
	</section>
	<hr class="m-0" />
</div>