<div class="container-fluid p-0" th:fragment="NoticeManage">
	<!-- 公告管理 -->
	<section class="resume-section" id="NoticeManage">
		<h1 class="mb-0">
			公告管理 <span class="text-primary">NoticeManage</span>
		</h1>
		<div class="resume-section-content">


			<div class="subheading mb-5 subManage">
				<a th:href="@{/BackStage/notice/listAllNotice}" class="linkOk">查看&修改消息</a>
				<a th:href="@{/BackStage/notice/addNotice}" class="linkOk">新增消息</a>
			</div>

			<p class="lead mb-5"></p>
	</section>
	<hr class="m-0" />
</div>
