<div class="container-fluid p-0" 
th:fragment="RentAppManage">
<!-- 物件管理-->
	<section class="resume-section" id="RentAppManage">
		<h1 class="mb-0">
			物件管理 <span class="text-primary">RentAppManage</span>
		</h1>
		<div class="resume-section-content">


			<div class="subheading mb-5 subManage">
				<a th:href="@{/BackStage/rentApp/reviewRentApp}" class="linkOk">物件申請單審核</a> 
				<a th:href="@{/BackStage/rent/rentManagement}" class="linkOk">物件管理</a> 
			</div>

			<p class="lead mb-5"></p>
	</section>
	<hr class="m-0" />
</div>
	