<div class="container-fluid p-0" 
th:fragment="ShopManage">
<!-- 購物管理-->
	<section class="resume-section" id="ShopManage">
		<h1 class="mb-0">
			購物管理 <span class="text-primary">ShopManage</span>
		</h1>
		<div class="resume-section-content">


			<div class="subheading mb-5 subManage">
				<a href="#" class="subA">商品管理</a> <a href="#" class="subA">訂單管理</a>
				<a th:href="@{/Good_Luck/BackStage/RtnManage}" class="subA linkOk">退貨審核</a>
			</div>

			<p class="lead mb-5"></p>
	</section>
	<hr class="m-0" />
</div>
