<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/public/tableModel/try.css}" />
    <link rel="stylesheet" th:href="@{/css/public/tableModel/try2.css}" />
    <link rel="stylesheet" th:href="@{/css/public/elementModel/elementStyles.css}" />
    <link rel="stylesheet" th:href="@{/css/FrontEnd/navForMemCenter/navForMemCenter.css}" />

    <title>預約/租屋一覽</title>
    <style>
        img {
            vertical-align: middle;
        }

        span {
            vertical-align: middle;
        }
    </style>
</head>

<body>
    <div th:insert="~{/FrontEnd/navForMemCenter/navForMemCenter :: nav}"></div>
    <main>
		<div class="tittleBoard"><span class="tittleBoard">預約/租屋一覽</span></div>
        <table id="example" class="display" style="width: 100%">
            <thead>
                <tr>
                    <th>編號</th>
                    <th>預約日期/時段</th>
                    <th>物件編號</th>
					<th>物件地址</th>
					<th>房東電話</th>
                    <th>預約單進度</th>
                    <th>預約單管理</th>
                    <th>租屋單進度</th>
                    <th>欲租日期</th>
                    <th>租屋單管理</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="apo : ${apoListData}">
                    <tr>
						 <td th:text="${apo.apoNo}"></td>
                        <td> 
								<span th:text="${apo.apoDate}"></span>
								<span th:switch="${apo.apoTime}">
									<span th:case="1">
										<span>上午</span>
										<img th:src="@{/icon/FrontEnd/dayMode/day.png}" width="20px">
									</span>
									<span th:case="2">
										<span>下午</span>
										<img th:src="@{/icon/FrontEnd/dayMode/afternoon.png}" width="20px">
									</span>
									<span th:case="3">
										<span>晚上</span>
										<img th:src="@{/icon/FrontEnd/dayMode/night.png}" width="20px">
								</span>
								</span>
							</td>

                        <td th:text="${apo.rent.rentNo}"></td>
						<td>
							<span th:text="${apo.rent.rentAppCou + ' ' + apo.rent.rentAppAr + ' ' + apo.rent.rentAppRo + ' ' + apo.rent.rentAppAdd}"></span>
						</td>
						<td th:text="${apo.rent.ldd.mem.memPhone}"></td>
                        <td th:switch="${apo.apoStatus}">
                            <span th:case="0" class="warning" th:text="待房東審核"></span>
                            <span th:case="1" class="cancel" th:text="房東婉拒"></span>
                            <span th:case="2" class="warning" th:text="待赴約看屋"></span>
                            <span th:case="3" class="success" th:text="看屋完成"></span>
                            <span th:case="4" class="cancel" th:text="取消"></span>
                        </td>
                        <td>
                            <form th:if="${apo.apoStatus == 0 or apo.apoStatus == 2}" method="post"
                                th:action="@{updateApo}">
                                <input type="hidden" name="apoNo" th:value="${apo.apoNo}">
                                <input type="submit" value="修改預約時間" class="approve_button">
                            </form>
                            <form th:if="${apo.apoStatus == 0 or apo.apoStatus == 2}" 
                            	  method="post" th:action="@{cancel}" onsubmit="return showConfirmation(this)">
                                <input type="hidden" name="apoNo" th:value="${apo.apoNo}">
                                <input type="submit" value="取消預約" class="reject_button">
                            </form>
                        </td>
                        <th:block th:if="${apo.apoStatus == 3}">
                            <td th:switch="${apo.apoWant}">
                                <span th:case="0" class="warning" th:text="尚未表達意願"></span>
                                <span th:case="1" class="cancel" th:text="房東婉拒"></span>
                                <span th:case="2" class="warning" th:text="待房東確認"></span>
                                <span th:case="3" class="warning">出租日期異動,請重新確認</span>
                                <span th:case="4" class="success" th:text="租屋成立"></span>
                                <span th:case="5" class="cancel" th:text="取消租屋"></span>
                            </td>
                            <td th:text="${apo.apoWantDate}"></td>
                        </th:block>
                        <th:block th:unless="${apo.apoStatus == 3}">
                            <td>-</td>
                            <td>-</td>
                        </th:block>
                        <td>
                            <form th:if="${apo.apoStatus == 3 && apo.apoWant == 0}" method="post" th:object="${apo}"
                                th:action="@{want}" onsubmit="return showConfirmation(this)">
                                <input type="hidden" name="apoNo" th:value="${apo.apoNo}">
                                <input type="date" class="apoWantDate" name="apoWantDate" required>
                                <input type="submit" value="申請租屋" class="approve_button">
                            </form>
                            <form th:if="${apo.apoStatus == 3 && apo.apoWant == 2}" method="post" th:object="${apo}"
                                th:action="@{updateWantDate}" onsubmit="return showConfirmation(this)">
                                <input type="hidden" name="apoNo" th:value="${apo.apoNo}">
                                <input type="date" class="apoWantDate" name="apoWantDate" required>
                                <input type="submit" value="變更租屋日期" class="approve_button">
                            </form>
                            <form th:if="${apo.apoStatus == 3 && (apo.apoWant == 0 || apo.apoWant == 2 || apo.apoWant == 3)}"
                                method="post" th:action="@{cancelWant}" onsubmit="return showConfirmation(this)">
                                <input type="hidden" name="apoNo" th:value="${apo.apoNo}">
                                <input type="submit" value="取消租屋" class="reject_button">
                            </form>
                            <a th:if="${apo.apoWant == 4}" th:href="@{/lse/listAllLse}">
                                <input type="button" value="查看合約" class="approve_button">
                            </a>
                        </td>
                    </tr>

                </th:block>

            </tbody>

        </table>
    </main>

    <script th:src="@{/jquery/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/public/tableModel/the.js}"></script>
    <script th:src="@{/js/public/tableModel/the2.js}"></script>
    <script th:src="@{/js/public/tableModel/dateInput.js}"></script>
    	
 	<script th:src="@{/js/FrontEnd/navForMemCenter/navForMemCenter.js}"></script>
 	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
	<script th:src="@{/js/public/sweetAlert2/basic.js}"></script>
 	
    <script>
        let table = new DataTable("#example");
    </script>

</body>

</html>