<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/css/public/elementModel/elementStyles.css}" />
    <title>新增合約</title>
</head>

<body>
    <h1>新增合約 </h1>
    
    <form method="post" th:action="@{insert}" th:object="${lse}" enctype="multipart/form-data" onsubmit="return formCheck()">
		<label>會員編號: </label><span th:text="${apo.mem.memNo}"></span><br><br>
		<label>物件編號: </label><span th:text="${apo.rent.rentNo}"></span><br><br>
        <label>起始日期: </label><span id="lseStart" th:text="${apo.apoWantDate}"></span><br><br>
        <label>選擇合約年限: </label><br>
        <label><input type="radio" name="contractTerms" onclick="createLseEnd('halfYear')"> 半年</label>
        <label><input type="radio" name="contractTerms" onclick="createLseEnd('oneYear')"> 一年</label>
        <label><input type="radio" name="contractTerms" onclick="createLseEnd('twoYear')"> 兩年</label><br><br>
        <label>終止日期: </label><span id="lseEndText"></span><br><br>
        <input type="hidden" id="lseEnd" name="lseEnd">
        <label for="lseSend">上傳合約: </label>
				<input type="file" th:field="*{lseSend}" required><br><br>
        <label>押金金額: </label><input type="text" th:field="*{lsePay}" required><br><br>
        <label>匯款銀行: </label><span id="select-container"></span><br><br>
       
        <label>匯款帳號: </label><input type="text" th:field="*{lsePayAccount}" style="width:200px;" required><br><br>
        
        <input type="hidden" name="mem.memNo" th:value="${apo.mem.memNo}">
        <input type="hidden" name="rent.rentNo" th:value="${apo.rent.rentNo}">
        <input type="hidden" name="lseStart" th:value="${apo.apoWantDate}">
    
        <input type="hidden" name="apoNo" th:value="${apo.apoNo}">
        <input type="submit" value="產生合約" class="approve_button">
        <a th:href="@{/apo/reviewApo}"><button type="button" class="reject_button">取消</button></a>
    </form>

    <script>
        function formCheck() {
            var radioButtons = document.getElementsByName("contractTerms");
            var isChecked = Array.from(radioButtons).some(button => button.checked);

            if (!isChecked) {
                alert("請選擇合約年限");
                return false;
            }
            return true;
        }

        function createLseEnd(select) {

            var lseStart = document.getElementById("lseStart").innerText;
            var lseEnd= new Date(lseStart);

            switch (select) {
                case 'halfYear':
                    lseEnd.setMonth(lseEnd.getMonth() + 6);
                    break;
                case 'oneYear':
                    lseEnd.setFullYear(lseEnd.getFullYear() + 1);
                    break;
                case 'twoYear':
                    lseEnd.setFullYear(lseEnd.getFullYear() + 2);
                    break;
                default:
            }
           	var formatLseEnd = lseEnd.getFullYear() + '-' + padZero(lseEnd.getMonth() + 1) + '-' + padZero(lseEnd.getDate());
            document.getElementById("lseEndText").innerText = formatLseEnd;
            document.getElementById("lseEnd").value = formatLseEnd;
        }
        
        function padZero(value) {
            return value < 10 ? '0' + value : value;
        }
        
        function generateDynamicSelect() {

        	  var bankOptions = [
        		  { value: "", text: "請選擇銀行" },
        		  { value: "004", text: "004 – 臺灣銀行" },
        		  { value: "005", text: "005 – 土地銀行" },
        		  { value: "006", text: "006 – 合作商銀" },
        		  { value: "007", text: "007 – 第一銀行" },
        		  { value: "008", text: "008 – 華南銀行" },
        		  { value: "009", text: "009 – 彰化銀行" },
        		  { value: "011", text: "011 – 上海商業儲蓄銀行" },
        		  { value: "012", text: "012 – 台北富邦銀行" },
        		  { value: "013", text: "013 – 國泰世華銀行" },
        		  { value: "016", text: "016 – 高雄銀行" },
        		  { value: "017", text: "017 – 兆豐國際商業銀行" },
        		  { value: "018", text: "018 – 農業金庫" },
        		  { value: "021", text: "021 – 花旗(台灣)商業銀行" },
        		  { value: "025", text: "025 – 首都銀行" },
        		  { value: "039", text: "039 – 澳商澳盛銀行" },
        		  { value: "040", text: "040 – 中華開發工業銀行" },
        		  { value: "050", text: "050 – 臺灣企銀" },
        		  { value: "052", text: "052 – 渣打國際商業銀行" },
        		  { value: "053", text: "053 – 台中商業銀行" },
        		  { value: "054", text: "054 – 京城商業銀行" },
        		  { value: "072", text: "072 – 德意志銀行" },
        		  { value: "075", text: "075 – 東亞銀行" },
        		  { value: "081", text: "081 – 匯豐(台灣)商業銀行" },
        		  { value: "085", text: "085 – 新加坡商新加坡華僑銀行" },
        		  { value: "101", text: "101 – 大台北銀行" },
        		  { value: "102", text: "102 – 華泰銀行" },
        		  { value: "103", text: "103 – 臺灣新光商銀" },
        		  { value: "104", text: "104 – 台北五信" },
        		  { value: "106", text: "106 – 台北九信" },
        		  { value: "108", text: "108 – 陽信商業銀行" },
        		  { value: "114", text: "114 – 基隆一信" },
        		  { value: "115", text: "115 – 基隆二信" },
        		  { value: "118", text: "118 – 板信商業銀行" },
        		  { value: "119", text: "119 – 淡水一信" },
        		  { value: "120", text: "120 – 淡水信合社" },
        		  { value: "124", text: "124 – 宜蘭信合社" },
        		  { value: "127", text: "127 – 桃園信合社" },
        		  { value: "130", text: "130 – 新竹一信" },
        		  { value: "132", text: "132 – 新竹三信" },
        		  { value: "146", text: "146 – 台中二信" },
        		  { value: "147", text: "147 – 三信商業銀行" },
        		  { value: "158", text: "158 – 彰化一信" },
        		  { value: "161", text: "161 – 彰化五信" },
        		  { value: "162", text: "162 – 彰化六信" },
        		  { value: "163", text: "163 – 彰化十信" },
        		  { value: "165", text: "165 – 鹿港信合社" },
        		  { value: "178", text: "178 – 嘉義三信" },
        		  { value: "179", text: "179 – 嘉義四信" },
        		  { value: "188", text: "188 – 台南三信" },
        		  { value: "204", text: "204 – 高雄三信" },
        		  { value: "215", text: "215 – 花蓮一信" },
        		  { value: "216", text: "216 – 花蓮二信" },
        		  { value: "222", text: "222 – 澎湖一信" },
        		  { value: "223", text: "223 – 澎湖二信" },
        		  { value: "224", text: "224 – 金門信合社" },
        		  { value: "512", text: "512 – 雲林區漁會" },
        		  { value: "515", text: "515 – 嘉義區漁會" },
        		  { value: "517", text: "517 – 南市區漁會" },
        		  { value: "518", text: "518 – 南縣區漁會" },
        		  { value: "520", text: "520 – 小港區漁會；高雄區漁會" },
        		  { value: "521", text: "521 – 彌陀區漁會；永安區漁會；興達港區漁會；林園區漁會" },
        		  { value: "523", text: "523 – 東港漁會；琉球區漁會；林邊區漁會" },
        		  { value: "524", text: "524 – 新港區漁會" },
        		  { value: "525", text: "525 – 澎湖區漁會" },
        		  { value: "605", text: "605 – 高雄市農會" },
        		  { value: "612", text: "612 – 豐原市農會；神岡鄉農會" },
        		  { value: "613", text: "613 – 名間農會" },
        		  { value: "614", text: "614 – 彰化地區農會" },
        		  { value: "616", text: "616 – 雲林地區農會" },
        		  { value: "617", text: "617 – 嘉義地區農會" },
        		  { value: "618", text: "618 – 台南地區農會" },
        		  { value: "619", text: "619 – 高雄地區農會" },
        		  { value: "620", text: "620 – 屏東地區農會" },
        		  { value: "621", text: "621 – 花蓮地區農會" },
        		  { value: "622", text: "622 – 台東地區農會" },
        		  { value: "624", text: "624 – 澎湖農會" },
        		  { value: "625", text: "625 – 台中市農會" },
        		  { value: "627", text: "627 – 連江縣農會" },
        		  { value: "700", text: "700 – 中華郵政" },
        		  { value: "803", text: "803 – 聯邦商業銀行" },
        		  { value: "805", text: "805 – 遠東銀行" },
        		  { value: "806", text: "806 – 元大銀行" },
        		  { value: "807", text: "807 – 永豐銀行" },
        		  { value: "808", text: "808 – 玉山銀行" },
        		  { value: "809", text: "809 – 萬泰銀行" },
        		  { value: "810", text: "810 – 星展銀行" },
        		  { value: "812", text: "812 – 台新銀行" },
        		  { value: "814", text: "814 – 大眾銀行" },
        		  { value: "815", text: "815 – 日盛銀行" },
        		  { value: "816", text: "816 – 安泰銀行" },
        		  { value: "822", text: "822 – 中國信託" },
        		  { value: "901", text: "901 – 大里市農會" },
        		  { value: "903", text: "903 – 汐止農會" },
        		  { value: "904", text: "904 – 新莊農會" },
        		  { value: "910", text: "910 – 財團法人農漁會聯合資訊中心" },
        		  { value: "912", text: "912 – 冬山農會" },
        		  { value: "916", text: "916 – 草屯農會" },
        		  { value: "922", text: "922 – 台南市農會" },
        		  { value: "928", text: "928 – 板橋農會" },
        		  { value: "951", text: "951 – 北農中心" },
        		  { value: "954", text: "954 – 中南部地區農漁會" }
        	  ];

        	  var selectElement = document.createElement("select");

        	  bankOptions.forEach(function (option) {
        	    var optionElement = document.createElement("option");
        	    optionElement.value = option.value;
        	    optionElement.textContent = option.text;
        	    selectElement.appendChild(optionElement);
        	  });
				
        	  selectElement.id = "bankSelect";
        	  selectElement.name = "bank";
        	  selectElement.classList.add("customA");
        	  selectElement.setAttribute("required", "required");
              
        	  var container = document.getElementById("select-container");
        	  container.appendChild(selectElement);
        	}

        generateDynamicSelect();
        
    </script>


</body>

</html>