<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/public/tableModel/try.css}" />
    <link rel="stylesheet" th:href="@{/css/public/tableModel/try2.css}" />
    <link rel="stylesheet" th:href="@{/css/public/elementModel/elementStyles.css}" />
    <link rel="stylesheet" th:href="@{/css/FrontEnd/navForMemCenter/navForMemCenter.css}" />
    <title>合約管理</title>
</head>

<body>
    <div th:insert="~{/FrontEnd/navForMemCenter/navForMemCenter :: nav}"></div>
    <main>
	    <h1>合約管理</h1>

	</main>







    <script th:src="@{/jquery/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/public/tableModel/the.js}"></script>
    <script th:src="@{/js/public/tableModel/the2.js}"></script>
    <script>
        let table = new DataTable("#example");
    </script>

</body>

</html>