<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <link rel="stylesheet" th:href="@{/css/BackStage/mem/try.css}" />
 <link rel="stylesheet" th:href="@{/css/BackStage/mem/try2.css}" />
 <link th:href="@{/css/BackStage/indexCSS/styles.css}" rel="stylesheet" />
 <link th:href="@{/css/BackStage/indexCSS/index.css}" rel="stylesheet" />
 <style>
 	h1 {
		text-align: center;
      	color: red;
		}
		
	main{
	   margin-top: 50px;
	   padding: 20px 20px;
	}
	
 </style>
<title>會員管理</title>
</head>
<body>
<div th:replace="BackStage/HTMLTool/nav :: nav"></div>

	
	<main>
	<h1 style="text-align: center;
			 font-size: 2em !important;
			 border-radius: 10px;
			 width:80%;
             color: #fff; /* 字體顏色 */
             background-color: #5bc0de; /* 背景顏色 */
             padding: 20px; /* 內邊距 */
             margin: 0px auto; /* 邊距 */
             margin-bottom: 20px;
             box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9); /* 底部陰影效果 */">會員查詢</h1>
	<table id="example" class="display" style="width: 100%">
		<thead>
			<tr>
				<th>會員編號</th>
				<th>信箱帳號</th>
				<th>姓名</th>
				<th>性別</th>
				<th>手機號碼</th>
				<th>聯絡地址</th>
<!-- 				<th>身分證號碼</th> -->
				<th>註冊日期</th>
				<th>帳號狀態</th>
<!-- 				<th>最後上線時間</th> -->
				<th>會員大頭照</th>
				<th>修改</th>
			</tr>
		</thead>
		<tbody>
		<th:block th:each="mem : ${memListData}">
			<tr>
				<td th:text="${mem.memNo}"></td>
				<td th:text="${mem.memMail}"></td>
				<td th:text="${mem.memName}"></td>
				<td>
					<span th:if="${mem.memSex == 0}" th:text="男性"></span>
					<span th:if="${mem.memSex == 1}" th:text="女性"></span>
				</td>
				<td th:text="${mem.memPhone}"></td>
				<td th:text="${mem.memAdd}"></td>
<!-- 				<td th:text="${mem.memID}"></td> -->
				<td th:text="${mem.memReg}"></td>
				<td>
					<span th:if="${mem.memStatus == 0}" th:text="未驗證"></span>
					<span th:if="${mem.memStatus == 1}" th:text="正常"></span>
					<span th:if="${mem.memStatus ==2}" th:text="停權"></span>				
				</td>
<!-- 				<td th:if="${mem.lastLoginTime != null}" th:text="${#dates.format(mem.lastLoginTime, 'yyyy/MM/dd HH:mm:ss')}"></td> -->
				<td ><img th:src="@{/BackStage/mem/picture} + '?memno=' + ${mem.memNo}" width="50px" height="50px"></td>
				<td>
					<form method="post" th:action="@{stopMem}">
						<input type="hidden" name= "memNo" th:value="${mem.memNo}">
						<input type="submit" value="停權" th:if="${mem.memStatus != 2} " style="background-color: #3498db; /* 藍色背景顏色 */
                                                        color: #fff; /* 白色文字顏色 */
                                                        border: none; /* 去掉邊框 */
                                                        padding: 10px 10px; /* 內邊距 */
                                                        cursor: pointer; /* 鼠標懸停效果 */
                                                        border-radius: 10px;
                                                        font-weight: bold;
                                                        font-size: 14px;" 
                                                        onmouseover="this.style.color='red'; this.style.backgroundColor='yellow'" 
                			  							onmouseout="this.style.color='white'; this.style.backgroundColor='#3498db'">
					</form>
					<form method="post" th:action="@{reMem}">
						<input type="hidden" name= "memNo" th:value="${mem.memNo}">
						<input type="submit" value="復權" th:unless="${mem.memStatus != 2} " style="background-color: green; /* 藍色背景顏色 */
                                                        color: #fff; /* 白色文字顏色 */
                                                        border: none; /* 去掉邊框 */
                                                        padding: 10px 10px; /* 內邊距 */
                                                        cursor: pointer; /* 鼠標懸停效果 */
                                                        border-radius: 10px;
                                                        font-weight: bold;
                                                        font-size: 14px;" 
                                                        onmouseover="this.style.color='red'; this.style.backgroundColor='yellow'" 
                			  							onmouseout="this.style.color='white'; this.style.backgroundColor='green'">
					</form>
				</td>
			</tr>
		
		</th:block>

		</tbody>
<!-- 		<tfoot> -->
<!-- 			<tr> -->
<!-- 				<th>會員編號</th> -->
<!-- 				<th>信箱帳號</th> -->
<!-- 				<th>姓名</th> -->
<!-- 				<th>性別</th> -->
<!-- 				<th>手機號碼</th> -->
<!-- 				<th>聯絡地址</th> -->
<!-- 				<th>身分證號碼</th> -->
<!-- 				<th>註冊日期</th> -->
<!-- 				<th>帳號狀態</th> -->
<!-- 				<th>最後上線時間</th> -->
<!-- 				<th>會員大頭照</th> -->
<!-- 				<th>修改</th> -->
<!-- 			</tr> -->
<!-- 		</tfoot> -->
	</table>
	<br>
	
	<script th:src="@{/jquery/jquery-3.7.1.min.js}"></script>
  	<script th:src="@{/js/BackStage/mem/the.js}"></script>
  	<script th:src="@{/js/BackStage/mem/the2.js}"></script>
  	<script>
    	let table = new DataTable("#example");
    	console.log($(".test"));
    // table.on("click", "tbody tr", function () {
    //   let data = table.row(this).data();

    //   alert("You clicked on " + data[3] + "'s row");
    // });
  	</script>
  	</main>
</body>
</html>