
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>物件申請單資料</title>
<link th:href="@{/css/BackStage/rentapp/addRentApp.css}"
	rel="stylesheet" />
</head>
<body>


	<div align="center"> <!-- 此div被select_page.html第128行insert用 -->
		<h3><span>查詢結果 :</span></h3>
		<span>物件申請單編號:</span><span th:text="${rentApp.rentAppNo}"></span><br/>
		<span>縣市:</span><span th:text="${rentApp.rentAppCou}"></span><br/>
		<span>鄉鎮市區:</span><span th:text="${rentApp.rentAppAr}"></span><br/>
		<span>路街:</span><span th:text="${rentApp.rentAppRo}"></span><br/>
		<span>詳細地址:</span><span th:text="${rentApp.rentAppAdd}"></span><br/>
		<span>樓層:</span><span th:text="${rentApp.rentAppFloor}"></span><br/>
		<span>坪數:</span><span th:text="${rentApp.rentAppSize}"></span><br/>
		<span>所有權狀:</span><span><img th:src="@{/BackStage/rentApp/picture} + '?rentAppNo=' + ${rentApp.rentAppNo}" width="100px"></span><br/>
	</div>

<a th:href="@{/BackStage/rentApp/}"><button>前往首頁</button></a>
</body>
</html>