<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select</title>
</head>
<style>
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
  }
</style>

<body>

  <a th:href="@{/BackStage/rentApp/addRentApp}">
    <h1>前台新增</h1>
  </a>
  <form method="post" th:action="@{rentApp/findAllRentAppByLddNo}">
    <label for="LddNo">請輸入會員編號</label>
    <input type="text" name="LddNo">
    <input type="submit" value="送出">
  </form>
  <a th:href="@{/BackStage/rentApp/listAllRentApp}">
    <h1>前台修改</h1>
  </a>
    <a th:href="@{/BackStage/rentApp/reviewRentApp}">
    <h1>後臺審核</h1>
  </a>




</body>

</html>