
<div class="container-fluid p-0" th:fragment="ReturnReviewTable">
	<!-- 退貨審核|表格-->

	<div id="RtnTitleCtrl-div">
		<div id="Rtntitle">
			<!-- <h1>退貨單</h1> -->
			<!-- <img src="../static/images/dog.png" th:src="@{/images/dog.png}" /> -->
			<p>退貨單總數:</p>
			<p th:text="${rtnCount}"></p>
			<p>張</p>
		</div>
		<div id="Rtntitle-ctrl">
			<select name="Query-btn" id="Query-btn">
				<option th:each="selectValue : ${QueryButtonValue}"
					th:value="${#strings.toUpperCase(selectValue)}"
					th:text="${selectValue}"></option>
			</select>
			<button type="button" onclick="QueryButtonEven()">確定</button>
			<button type="button" onclick="CanelButton()">取消</button>

		</div>
	</div>

	<table>
		<thead>
			<tr>
				<th>退貨單編號</th>
				<th>員工編號</th>
				<th>訂單編號</th>
				<th>退貨日期</th>
				<th>退貨原因</th>
				<th>退款金額</th>
				<th>退貨狀態</th>
				<th>功能</th>
				<!-- Add more headers as needed -->
			</tr>
		</thead>
		<tbody>
			<tr th:each="rtn : ${rtn1}" id=Rtn-Table>
				<td class="Rtn-Table-td" th:text="${rtn.rtnNo}"></td>
				<td class="Rtn-Table-td" th:text="${rtn.empNo.empNo}"></td>
				<td class="Rtn-Table-td">ordNo</td>
				<!-- 					th:text="${rtn.ordNo.ordNo}"> -->
				<td class="Rtn-Table-td" th:text="${rtn.rtnDate}"></td>
				<td class="Rtn-Table-td" th:text="${rtn.rtnWhy}"></td>
				<td class="Rtn-Table-td" th:text="${rtn.refundAmount}"></td>
				<td class="Rtn-Table-td RtnStatus" th:text="${rtn.rtnStatus}"></td>
				<td>
					<button
						onclick="redirectToModifyPage(this.getAttribute('data-RtnNoId'))"
						th:attr="data-RtnNoId=${rtn.rtnNo}" class="modify-btn">修改</button>
				</td>
			</tr>
		</tbody>
	</table>
	
		<div id="pagination-container"></div>
	