<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

 <style>
 	h1 {
		text-align: center;
      	color: red;
		}
 </style>

<title>Insert title here</title>
</head>
<body>
	<h1>員工索引</h1>

	<a th:href="@{/BackStage/myData}"><button>員工個人資料</button></a>
	<br>
	<br>

	<a th:href="@{/BackStage/changePsw}"><button>更改個人密碼</button></a>
	<br>
	<br>
	<a th:href="@{/BackStage/logout}"><button>登出</button></a>
	
	<br>
	<br>
	<br>
	<br>
	<a th:href="@{/BackStage/emp/listAllEmp}"><button>員工資料管理</button></a>
	<br>
	<br>
	<a th:href="@{/BackStage/funManager/funlist}"><button>員工權限管理</button></a>
	<br>
	<br>
	
	
</body>
</html>