<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <link rel="stylesheet" th:href="@{/css/BackStage/mem/try.css}" />
 <link rel="stylesheet" th:href="@{/css/BackStage/mem/try2.css}" />
 <style>
 	h1 {
		text-align: center;
      	color: red;
		}
 </style>
<title>Insert title here</title>
</head>
<body>
	<h1>成功</h1>
	
	<form method="post" th:action="@{oneEmp}">
	<table id="example" class="display" style="width: 100%">
		<thead>
			<tr>
				<th>員工</th>
				<th>查詢員工</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<select name="getEmpNo">
						<option th:each="empNo : ${empListData}" th:value="${empNo.empNo}" th:text="${empNo.empNo + ' ' + empNo.empName}"/>
					</select>
				</td>
				<td>
<!-- 						<input type="hidden" name= "oneEmpNo" th:value="${empNo.empNo}"> -->
						<input type="submit" value="查詢" >
				</td>
			</tr>
		</tbody>
	</table>
	</form>
	<br>
	<a th:href="@{/BackStage/mem/memlist}"><button>返回會員列表</button></a>
	
	<script th:src="@{/jquery/jquery-3.7.1.min.js}"></script>
  	<script th:src="@{/js/BackStage/mem/the.js}"></script>
  	<script th:src="@{/js/BackStage/mem/the2.js}"></script>
  	<script>
    	let table = new DataTable("#example");
    	console.log($(".test"));
    // table.on("click", "tbody tr", function () {
    //   let data = table.row(this).data();

    //   alert("You clicked on " + data[3] + "'s row");
    // });
  	</script>
</body>
</html>