<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/public/jquery-ui/1.13.2/jquery-ui.css}" />

<title>權限修改</title>
</head>
<body>
	<form method="post" th:action="@{funUpdate}" th:object="${empFunData}" >
		<table>
			<tr>
				<td><label for="Number">員工編號<b>*</b>：</label></td>
				<td>
					<span id="Number" th:text="${empFunData.empNo}"></span>
					<input type="hidden" th:field="*{empNo}">
				</td>
<!-- 				<td><input id="Number" title="請輸入信箱帳號" th:field="*{empNo}" ></td> -->
			</tr>
			<tr>
				<td><label for="name">員工姓名<b>*</b>：</label></td>
				<td><span id="name" th:text="${empFunData.empName}"></span></td>
<!-- 				<td><input id="name" title="請輸入信箱帳號" th:field="*{memMail}" ></td> -->
			</tr>
			<tr>
				<td><label for="fun">會員管理<b>*</b>：</label></td>
				<td>
					<div id="checkbox">
					<label><input type="checkbox" id="fun" name="variety" th:field="*{empFun}" th:value="1"><span class="round button">會員管理</span></label>
                	</div>
                </td>
			</tr>
			<tr>
				<td><label for="product">物件管理<b>*</b>：</label></td>
				<td>
					<div id="checkbox">
					<label><input type="checkbox" id="fun" name="variety" th:checked="${empFunData.empFun.contains(2)}" th:field="*{empFun}" th:value="2"><span class="round button">物件管理</span></label>
                	</div>
				</td>
			</tr>
			<tr>
				<td><label for="notice">購物管理<b>*</b>：</label></td>
				<td><input type="checkbox" id="product" th:field="*{empFun}" th:value="3"></td>
			</tr>
			<tr>
				<td><label for="rent">公告管理<b>*</b>：</label></td>
				<td><input type="checkbox" id="notice" th:field="*{empFun}" th:value="4"></td>
			</tr>
			<tr>
				<td><label for="report">投訴管理<b>*</b>：</label></td>
				<td><input type="checkbox" id="report" th:field="*{empFun}" th:value="5"></td>
			</tr>
			<tr>
				<td><label for="emp">後台管理<b>*</b>：</label></td>
				<td><input type="checkbox" id="emp" th:field="*{empFun}" th:value="6"></td>
			</tr>
		</table>
		
					<div id="checkbox">
					<label><input type="checkbox" id="fun" name="variety" th:field="*{empFun}" th:value="1"><span class="round button">會員管理</span></label>
					<label><input type="checkbox" id="fun" name="variety" th:field="*{empFun}" th:value="1"><span class="round button">會員管理</span></label>
                	</div>
		<input type="submit" class="submit" value="修改資料">
		
		    <div id="checkbox">

        <label><input type="checkbox" id="rent" th:checked="${empFunData.empFun.contains(2)}" th:value="2"><span class="round button">會員管理</span></label>
        <label><input type="checkbox" name="variety" value="台綜" /><span class="round button">台綜</span></label>
        <label><input type="checkbox" name="variety" value="陸綜" /><span class="round button">陸綜</span></label>
        <label><input type="checkbox" name="variety" value="韓綜" /><span class="round button">韓綜</span></label>
        <label><input type="checkbox" name="variety" value="遊戲" /><span class="round button">遊戲</span></label>
        <label><input type="checkbox" name="variety" value="益智" /><span class="round button">益智</span></label>
        <label><input type="checkbox" name="variety" value="談話" /><span class="round button">談話</span></label>
        <label><input type="checkbox" name="variety" value="娛樂" /><span class="round button">娛樂</span></label>
        <label><input type="checkbox" name="variety" value="網紅" /><span class="round button">網紅</span></label>
    </div>
	</form>
	
	<div class="widget">
	  <fieldset>
    <legend>Hotel Ratings: </legend>
    <label for="checkbox-1">2 Star</label>
    <input type="checkbox" name="checkbox-1" id="checkbox-1">
    <label for="checkbox-2">3 Star</label>
    <input type="checkbox" name="checkbox-2" id="checkbox-2">
    <label for="checkbox-3">4 Star</label>
    <input type="checkbox" name="checkbox-3" id="checkbox-3">
    <label for="checkbox-4">5 Star</label>
    <input type="checkbox" name="checkbox-4" id="checkbox-4">
  </fieldset>
  </div>
	<script th:src="@{/jquery/jquery-3.7.1.min.js}"></script>
	<script th:src="@{/js/public/jquery-ui/jquery-ui-1.13.2/jquery-ur.js}"></script>
	<script>
	  $( function() {
	    $( "input" ).checkboxradio({
	      icon: false
	    });
	  } );
  	</script>
</body>
</html>